- if card.complete == 0
  = link_to(complete_top_path(card), class: "card_link", style: "color:black;",remote:true) do
    .card
      継続させたいこと
      %h3.card_title= card.title
      どこでやるか
      %h3.card_where= card.where
      目標
      %h4.card_memo= card.memo     
- else
  = link_to(complete_top_path(card), class: "card_link", style: "color:black;",remote:true)do
    .card
      %h3.card_title= card.title
      は完了しました。