.topPage
  .listWrapper
    - @lists.each do |list|
      .list
        .list_header
          .div_list
            時間帯
            %h4.list_header_timeZone= list.time_zone
          %h2.list_header_title= list.title 
          %h2.list_header_title 時に
          .list_header_action
            = link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: { confirm: "#{list.title}を削除して大丈夫ですか？" }
            = link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list))
        .cardWrapper
          - list.cards.each do |card|
            = link_to complete_list_card_path(list,card), class: "card_link", style: "color:black;" do
              .card
                継続させたいこと
                %h3.card_title= card.title
                どこでやるか
                %h3.card_where= card.where
                目標
                %h4.card_memo= card.memo
                .card_detail.is-exist
                  = link_to(content_tag(:i, '', class: 'fas fa-pen'), list_card_path(list,card))
          .addCard
            %i.far.fa-plus-square
            = link_to "継続させたいことを結びつける", new_list_card_path(list), class: "addCard_link"
  .topIllustration
    .balloon1
      %p#balloon1_p.balloon1_p
        連続 #{@user.continous_login}日目 
        %br 
        合計 #{@user.total_login}日目
    = image_tag 'pixta_67204892_S (2).png',class:"topIllustration__samurai",id:'samurai'

