.listnewPage
  .container
    = form_with model: @list, url: { action: :create }, class: "new_list", local: true do |f|
      - if @list.errors.any?
        %p.text-danger タイトルは1～255文字以内で入力してください
      .listnewForm_title
        = f.label :title,"普段行っていること"
        = f.text_field :title, autofocus: true, class: "form-control listName", placeholder: "例：コーヒーを飲む" 
      .listnewForm_time_zone
        .time 普段行っていることの時間帯
        %ul.time_ul
          %li.time_li
            = f.check_box :time_zone, {multiple: true},"朝"
            朝
          %li.time_li
            = f.check_box  :time_zone, {multiple: true},"昼"
            昼
          %li.time_li
            = f.check_box  :time_zone, {multiple: true},"夕方"
            夕方
          %li.time_li
            = f.check_box  :time_zone, {multiple: true},"夜"
            夜
        .text-center= f.submit "作成する", class: "submitBtn"
